
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

// FontAwesome Icon
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.router-link-exact-active.router-link-active {
  color: #ffffff !important;
  background-color: #007bff !important;
}
.nav-sidebar .nav-treeview {
  padding-left: .4rem;
}
.text-blue {
  color: $blue;
}
.text-indigo {
  color: $indigo;
}
.text-purple {
  color: $purple;
}
.text-pink {
  color: $pink;
}
.text-red {
  color: $red;
}
.text-orange {
  color: $orange;
}
.text-yellow {
  color: $yellow;
}
.text-green {
  color: $green;
}
.text-teal {
  color: $teal;
}
.text-cyan {
  color: $cyan;
}
.text-primary {
  color: $primary;
}
.text-secondary {
  color: $secondary;
}
.text-danger {
  color: $danger;
}
.text-warning {
  color: $warning;
}
.text-info {
  color: $info;
}
.text-light {
  color: $light;
}
.text-white {
    color: $white;
}