#janji-p .container.janji-container {
  margin-top:20px;
  padding:30px 100px 100px 100px;
  background-color:#eeeeee;
  color:#35373a;
  border-radius:20px;
  box-shadow:0 5px 15px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  #janji-p .container.janji-container {
    padding:30px 30px 100px 31px;
  }
}

@media (max-width: 400px) {
  #janji-p .container.janji-container {
    padding:30px 20px 100px 20px;
  }
}


#janji-p .row.row-janji {
  background-color:#fffefe;
  border-radius:30px;
  padding:50px;
  font-family:Poppins, sans-serif;
}

@media (max-width: 400px) {
  #janji-p .row.row-janji {
    padding:20px;
  }
}

