#prestasi-tabel .container.prestasi-container {
  margin-top:20px;
  padding:30px 20px;
  background-color:#fff;
  color:#35373a;
  border-radius:20px;
  box-shadow:0 5px 15px rgba(0, 0, 0, 0.7);
}

#prestasi-tabel .h1-judul {
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    margin-bottom: 50px;
}
#prestasi-tabel .prestasi-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    color: #888;
    font-size: 18px;
}

#prestasi-tabel .search-form {
  margin:40px 5px;
  font:normal 12px sans-serif;
  box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.08);
}
 .search-form div.input-group-addon {
  background:#fff;
  color:#80A3BD;
  border-bottom-left-radius:2px;
  border-top-left-radius:2px;
  border:1px solid #b6c3cd;
  border-right:0;
}
.search-form .input-group input {
  background-color:#ffffff;
  box-shadow:none;
  color:#4E565C;
  outline:none;
  border:1px solid #b6c3cd;
  border-right:0;
  border-left:0;
}
.search-form div.input-group-btn button {
  border-bottom-right-radius:2px;
  border-top-right-radius:2px;
  background:#6caee0;
  box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color:#ffffff;
  border-color:#6caee0;
  outline:none;
  opacity:0.9;
}
.search-form div.input-group-btn button:hover {
  opacity:1;
}
.search-form div.input-group-btn button:focus:active {
  background-color:#6caee0;
  color:#ffffff;
  outline:none;
}

#tabel-border {
  border-left:none;
  border-right:2px solid rgb(255, 255, 255);
  border-top:2px solid rgb(255, 255, 255);
  border-bottom:2px solid rgb(201, 201, 201);
}

#bg-icon-search {
  background-color:rgb(255,255,255);
  border-left:2px solid rgb(255, 255, 255);
  border-top:2px solid rgb(255, 255, 255);
  border-bottom:2px solid rgb(201, 201, 201);
}

#prestasi-tabel thead {
  background-color:#fdcb27;
  box-shadow:0 1px 9px rgb(11,11,11);
  font-size:larger;
}

#tabel-font {
  font-family:sans-serif;
  border:0px;
}

#pager {
  margin-top:20px;
}
.hasilcari tr[visible='false'], .no-hasil{
  display: none;
}



#tabel-font thead tr  .w-no{
  width: 50px;

}
#tabel-font thead tr  .w-keg{
  width: 287px;

}





